.action-select-wrapper {
	width: 100%;
    user-select: none;
    position: relative;
}

.action-select__button {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	
	cursor: pointer;
}

.action-select__options {
	width: 100%;
	height: 8rem;
  	position: absolute;
  	top: 105%;
  	left: 0;
  	z-index: 1000;
 	background: #fff;
  	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 6px;
  	border: 1px solid rgba(191, 191, 191, 0.5);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.action-icon{
	display: block;
	width: 2rem;
	height: 2rem;
}